[Unit]
Description=L4D2 ZoneMod server #%i
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ steam_user }}
Group={{ steam_user }}
ExecStart=/opt/l4d2-fleet/l4d2-run.sh %i
Restart=on-failure
RestartSec=15
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
